.bestseller-container {
  margin: 3rem 0;
  color: black;
  overflow: hidden !important;
  text-align: center;
}

.bestseller-container h4 {
  font-family: Grotesk-light;
  font-size: var(--fs-xxs);
}

.bestseller-container h2 {
  font-family: Grotesk-light;
  font-size: var(--fs-sm);
  font-weight: 300 !important;
}

.bestseller h5,
h6 {
  font-family: Grotesk-light;
  font-size: var(--fs-xxs);
  font-weight: 300 !important;
}

.bestseller h6 {
  opacity: 0.5;
}

.bestseller {
  padding-top: 3rem !important;
}

.bestseller img {
  cursor: pointer;
}

.bestseller-img {
  margin-bottom: 1rem;
  overflow: hidden;
}

.bestseller-container button {
  border-radius: 4px;
  padding: 1rem;
  font-size: var(--fs-xxs);
  margin-bottom: 1rem;
  background-color: #6a9b78 !important;
  border: none !important;
}

@media (min-width: 55rem) {
  .bestseller {
    padding: 3rem 0.2rem !important;
    .bestseller-img {
      width: 100% !important;
    }

    img {
      -webkit-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out;
      margin-bottom: 2rem;
      opacity: 0.9;
    }

    img:hover {
      scale: 1.1;
      transition: 1s ease-in-out;
      opacity: 1;
    }
  }

  .bestseller-container {
    margin: 5rem 1.5rem !important;
    button:hover {
      background-color: black !important;
      transition: 0.3s ease-in-out;
    }
  }
}

@media screen and (min-width: 100rem) {
  .bestseller-img {
    width: 40rem;
  }
}
