.checkout,
.clear-cart {
  border-radius: 4px;
  padding: 1rem;
  font-size: var(--fs-xxs);
  margin: 1.5rem 0;
  background-color: #6a9b78;
  border: none !important;
  width: 100%;
}

.clear-cart {
  background-color: #ffffff;
  border: 1px solid #6a9b78 !important;
  margin: 0;
}

.empty-cart {
  text-align: center;
  a {
    color: black !important;
  }
}

.cart-container {
  height: 100vh;
  margin-top: 7rem;
  font-family: Grotesk-light;
  h1 {
    font-size: var(--fs-md);
    text-align: center;
    margin-bottom: 2rem;
  }
  h2 {
    font-size: var(--fs-xs);
    text-align: center;
  }

  h3,
  h4 {
    font-size: var(--fs-xs);
  }

  h4 {
    opacity: 0.5;
    font-size: var(--fs-xxs);
  }

  button {
    border-radius: 4px;
    padding: 1rem;
    font-size: var(--fs-xxs);
    margin-bottom: 1rem;
    background-color: #6a9b78 !important;
    border: none !important;
    width: 100%;
    color: white;
  }
}

.price {
  font-family: Grotesk-light;
  font-size: var(--fs-xxs);
  font-weight: 300 !important;
  opacity: 0.5;
}

.total {
  font-family: Grotesk-light;
  font-size: var(--fs-sm);
  font-weight: 300 !important;
  text-align: right;
}

@media screen and (min-width: 63rem) {
  .cart-container {
    margin: 10rem 20rem 2rem;
    button {
      width: fit-content !important;
    }
    img {
      width: 100%;
    }
    h1 {
      margin-bottom: 5rem;
      font-size: var(--fs-sm) !important;
    }
    p {
      opacity: 0.5;
    }
    .empty-cart {
      margin: auto;
      img {
        top: 0;
        left: 0;
        max-width: 30rem;
      }
    }
    .cart-img {
      overflow: hidden !important;
      flex: 0 0 30%;
      padding: 0 1rem;
      width: 8rem;
      aspect-ratio: 1/1;
    }

    .cart-item {
      display: flex;
    }

    .cart-details {
      flex: 1;
    }

    .checkout {
      width: 20% !important;
    }
  }
}
