.navbar-container {
  text-align: center;
  padding: 0 !important;
  margin: 0 !important;
  top: 0;
  background-color: white;
}

.cart {
  width: 2rem;
  margin: 0 1rem;
}

.logo {
  display: none;
}

.navbar {
  padding: 0 !important;
  z-index: 9998;
  text-align: center;
  margin-bottom: 0 !important;
  transition: background-color 0.4s ease;
  color: white !important;
  --bs-navbar-brand-color: rgb(255, 255, 255) !important;
  --bs-navbar-toggler-border-color: none !important;
}

.navbar-brand {
  text-align: center !important;
}

.offcanvas {
  background-color: #6a9b78 !important;
  color: white !important;
  font-family: Grotesk-light;
  max-width: 90vw !important;
  z-index: 9999;
}

.offcanvas-title {
  font-size: var(--fs-md) !important;
}

.offcanvas-body {
  margin-top: 4rem !important;
  padding: 0 1rem !important;
}

hr {
  border: 1px solid #cae1d1 !important;
}

.main-link {
  font-size: var(--fs-xs) !important;
  padding: 0 !important;
}

.other-link {
  font-size: var(--fs-xs) !important;
  color: #cae1d1 !important;
}

.inner-link {
  font-size: var(--fs-xs) !important;
  color: white !important;
}

.top-nav {
  margin-bottom: 2rem !important;
}

.dropdown-menu {
  --bs-dropdown-bg: transparent !important;
  --bs-dropdown-border-color: transparent !important;
  transition: max-height 0.5s ease-out;
}

@media screen and (min-width: 45rem) {
  /* .navbar-container {
    display: none;
  } */
  .main-link {
    padding: 0 1rem !important;
    --bs-nav-link-color: black;
  }

  .nav {
    align-items: center;
  }

  .top-nav {
    margin: 0 !important;
  }

  .cart {
    cursor: pointer;
  }

  .nav-link {
    padding: 0 0.5rem !important;
  }

  .logo {
    display: block;
    width: 6rem;
    aspect-ratio: 1/1;
    padding: 0 !important;
    margin: 0 1rem;
  }
  .navbar {
    background-color: white !important;
    color: black !important;
    --bs-navbar-brand-color: black !important;
    z-index: 9998;

    hr {
      display: none;
    }
  }

  .offcanvas-body {
    margin: 0 !important;
    padding: 0 !important;
  }

  .main-link {
    font-size: var(--fs-xs) !important;
  }
  .show {
    text-align: center !important;
    background-color: white !important;
    color: black !important;
  }

  .inner-link {
    font-size: var(--fs-xs) !important;
    color: black !important;
  }
}

@media screen and (min-width: 95rem) {
  .navbar {
    --bs-navbar-brand-color: black !important;
  }
}
