.welcome {
  background-image: url(../assets/welcome.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
  height: 100vh;
  text-align: center;
  background-position: center;
  position: relative;
  transition: opacity 0.5s ease-in-out;
}

.img {
  height: 1rem !important;
  width: 1rem !important;
  position: absolute;
  float: right;
}
