.category-container {
  margin: 3rem 0 !important;
  color: black;
  overflow: hidden !important;
  text-align: center;
}

.category-container Col {
  border-bottom: 1px solid #0000 !important;
  margin: 0 !important;
}

.category-container h3 {
  font-size: var(--fs-xxs);
  font-weight: 300 !important;
}

.category-container h4 {
  font-size: var(--fs-xxs);
}

.category-container h2 {
  font-size: var(--fs-sm);
}

.category {
  padding-top: 3rem !important;
}

.category img {
  cursor: pointer;
}

.moveLeft {
  transform: translateX(-25rem);
}

@media screen and (min-width: 45rem) {
  .category {
    padding: 3rem 0.2rem !important;
    img {
      -webkit-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out;
      margin-bottom: 2rem;
      opacity: 0.9;
    }
  }
  .bestseller-img {
    width: 100% !important;
    aspect-ratio: 1/1;
    overflow: hidden !important;
  }

  .category-container {
    margin: 5rem 1rem !important;
  }

  .moveUp {
    transform: translateY(-45rem);
  }

  .moveLeft {
    transform: translateX(0);
  }
}

@media screen and (min-width: 60rem) {
  .moveUp {
    transform: translateY(-35%);
  }
}
