.footer {
  border: 1px solid #0000 !important;
  justify-content: center;
  background-color: #f5f5f6;
  bottom: 0;
  width: 100%;

  h2 {
    font-family: Grotesk-light;
    font-size: var(--fs-xs);
    font-weight: 500 !important;
    margin-top: 2rem;
    text-align: left !important;
  }

  h3, p {
    font-family: Grotesk-light;
    font-size: var(--fs-xs);
    opacity: 0.5;
    text-align: left !important;
  }
}

.copy p {
  padding-top: 1.5rem;
  background-color: #f5f5f6;
  text-align: center !important;
}
