.slide {
  object-fit: cover;
  height: 50em;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50em;
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay-content {
  position: absolute;
  color: white;
  width: 100%;
}

.overlay button {
  border-radius: 0 !important;
  padding: 1rem;
  font-size: var(--fs-xxs);
  margin-bottom: 1rem;
  background-color: #6a9b78;
  border: none !important;
}

.hero h2 {
  font-family: Grotesk-light;
  font-size: var(--fs-sm);
  font-weight: 300 !important;
}

.hero h5 {
  font-family: Grotesk-light;
  font-size: var(--fs-xxs) !important;
  font-weight: 300 !important;
}
