.product-container {
  margin-top: 7rem;
  text-align: center;
  font-family: Grotesk-light;

  .category-item {
    margin: 3rem 1.5rem !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  h2 {
    margin-bottom: 2rem;
  }
}

.category-item {
  text-align: center;
  margin-bottom: 1rem;
}

.category-item h3,
h4 {
  font-family: Grotesk-light;
  font-size: var(--fs-xs);
  font-weight: 300 !important;
}

.category-item h4 {
  opacity: 0.5;
}

.category-item img {
  margin-bottom: 1rem;
}

.category-item img :hover {
  cursor: pointer;
}

@media only screen and (min-width: 45rem) {
  .product-container {
    margin-top: 10rem;
    text-align: center;

    img {
      margin-bottom: 2rem;
    }
    img:hover {
      scale: 1.1;
      transition: 0.3s ease-in-out;
    }
    h2 {
      font-size: var(--fs-sm);
    }
  }
}
