* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: Grotesk-light !important;

  --fs-xl: clamp(7rem, 10vw + 1rem, 15rem);
  --fs-l: clamp(2rem, 3.5rem, 6rem);
  --fs-md: clamp(1.2rem, 1.7rem, 3rem);
  --fs-sm: clamp(0.8rem, 1.3rem, 2rem);
  --fs-xs: clamp(0.5rem, 1rem, 5rem);
  --fs-xxs: clamp(0.5rem, 0.8rem, 3rem);
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  font-family: "Grotesk-bold", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

Col {
  margin: 0;
}

@font-face {
  font-family: "Grotesk-bold";
  src: url("./font/DINNeuzeitGroteskLT-BoldCond.ttf") format("truetype");
}

@font-face {
  font-family: "Grotesk-light";
  src: url("./font/DINNeuzeitGroteskLT-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Cheri-light";
  src: url("./font/cheri-light.TTF") format("truetype");
}

@font-face {
  font-family: "Cheri-bold";
  src: url("./font/cheri-bold.TTF") format("truetype");
}

@font-face {
  font-family: "Emily";
  src: url("./font/emily.ttf") format("truetype");
}

@media (min-width: 45rem) {
  * {
    --fs-xl: clamp(15rem, 18rem, 30rem);
    --fs-l: clamp(8rem, 10rem, 25rem);
    --fs-md: clamp(3rem, 4rem, 7rem);
    --fs-sm: clamp(1rem, 2rem, 4rem);
    --fs-xs: clamp(0.5rem, 1rem, 5rem);
  }
}
