* {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  color: #1e2125;

  --fs-xl: clamp(7rem, 10vw + 1rem, 15rem);
  --fs-l: clamp(3rem, 4rem, 6rem);
  --fs-md: clamp(1.2rem, 1.7rem, 3rem);
  --fs-sm: clamp(0.8rem, 1.4rem, 2rem);
  --fs-xs: clamp(0.5rem, 1.1rem, 5rem);
}

@media only screen and (min-width: 55rem) {
  body {
    --fs-xl: clamp(7rem, 15vw + 1rem, 30rem);
    --fs-l: clamp(10rem, 20rem, 25rem);
    --fs-md: clamp(3rem, 5rem, 7rem);
    --fs-sm: clamp(0.8rem, 1.1rem, 2rem);
    --fs-xs: 8rem;
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

Col {
  margin: 0;
}
